.hihi{
    color: yellow;
}
.abc{
        width: 100px;
        height: 100px;
        border-radius:  50%;
        // background-color: red;
        animation: example 5s linear infinite;
        // background-size: cover;
        // background-image: url("https://s.memehay.com/files/posts/20200829/4ca99c708e04bbc73a2d40b429e541e1nguoi-anh-em-cho-xin-cai-dia-chi-dau-cat-moi.jpg");
      }
      
    @keyframes example {
        to {transform: rotate(360deg);}
    }
